{% extends "base.html" %}

{% block title %}About/References{% endblock %}


{% block content %}

   <div class="col-sm-12">
   <h1>Contact/Info</h1>
   <p>In this page, you can contact me directly by e-mail for any inquiries regarding the information or images posted on
   the website. You can also reach me through my other social media accounts that are provided. Additionally, a list of references used to gather the information of the website is also provided.</p>

     <h3>Contact</h3>
     <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">Auvigoo Ahmed</dd>
        <dt class="col-sm-3">Student ID#</dt>
        <dd class="col-sm-9">40128901</dd>
        <dt class="col-sm-3">Course</dt>
        <dd class="col-sm-9">SOEN 287 Section WWD</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9"><a href="mailto:auvigooa@gmail.com">auvigooa@gmail.com</a></dd>
        <dt class="col-sm-3">Phone</dt>
        <dd class="col-sm-9">(514)667-0628</dd>
        <dt class="col-sm-3">Other social media</dt>
        <dd class="col-sm-9"><a href="https://www.instagram.com/auvigoo20/" target="_blank"><img src="/static/images/instagram.png" width="30" height="30"></a>
          <a href="https://www.facebook.com/profile.php?id=100000767685613" target="_blank"><img src="/static/images/fb.png" width="30" height="30"></a>
          <a href="https://twitter.com/auvigoo20" target="_blank"><img src="/static/images/twitter.png" width="30" height="30"></a>
          <a href="https://www.linkedin.com/in/auvigoo-ahmed-7bb340180/" target="_blank"><img src="/static/images/linkedin.png" width="30" height="30"></a>
        </dd>
     </dl>

     <hr>

   <h3>References</h3>
   <ul>
     <li><a href="https://onepiece.fandom.com/">onepiece.fandom.com</a></li>
     <li><a href="https://hero.fandom.com/">hero.fandom.com</a></li>
   </ul>
   </div>
{% endblock %}
