{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="col-sm-12">

      <h2>Home</h2>
    <p>Welcome to the One Piece Character Introduction site! In this site, you will find information about the main characters
    of Eiichiro Oda's manga series "One Piece". You will also find some of my fanart as well as other artists' fanart.</p>
    <h5>Brief overview of the plot</h5>
    <p>The story revolves around a pirate called Monkey D. Luffy, captain of the Straw Hat pirates, whose goal is to become the pirate king by setting sail
    to seek for the greatest treasure called the "One Piece". While going along his adventure, he meets many people who eventually
      become his crew members, join the Straw Hat pirates, and fight along side with him.</p>
    <h3>Main Characters</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th >Name</th>
          <th >Characteristics</th>
          <th >Back-story</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th id="Luffy"><pre>Monkey D. Luffy
          </pre><img src="/static/images/luffy.png" width="150" height="300"></th>
          <td>Luffy is the captain of the Straw Hat Pirates. His lifelong dream is to become the King of the Pirates by finding the One Piece left behind by the former Pirate King Gol D. Roger.
          He has a devilfruit power called "Gomu Gomu no Mi", which allows him to stretch his body parts and make them have a rubber texture. He is recognized by his Straw Hat, which was given to him
          by his childhood mentor Shanks, who in turn received the Straw Hat from Gol D. Roger. He became famous mostly because of his reckless behaviour, such as challenging the 7 Warlords of the Sea, the Marines, the Emperors of the Sea
          as well as felonies, which made him a target of the World Government. This lead to him having a bounty on his head of 30 billion berries (up to now).</td>
          <td>Luffy was raised in the East Blue and has always wanted to become a pirate, mostly due to Shanks' influence as his mentor figure. He grew up with his two sworn brothers, Ace and Sabo, with whom he planned to set sail with when they grew older.
          Eventually, they never set sail together, but separately. Luffy left his town when he was seventeen.</td>
        </tr>
        <tr>
          <th ><pre>Roronoa Zoro
          </pre><img src="/static/images/zoro.png" width="150" height="300"> </th>
          <td>Zoro is the first person who joined Luffy's crew. His lifelong dream is to become the greatest swordsman. He
          has a special way of using his swords, called "Santoryu", which means three sword style, where he holds two of his
          swords with his hands and another sword with his jaw. He has immense strength, since he could lift heavy weights up
          to the size of buildings. His bounty is now 320 million berries.</td>
          <td>As a child, Zoro has been training to become a swordsman at a Dojo in Shimotsuki Village with his Childhood
          friend, Kuina, who was the Dojo master's daughter. They both made a pact that one of them was going to become the
          world's greatest swordsman. A few years later, she passed away from an accident, and Zoro decided to pursue their
          goal and become the greatest swordsman in her honor. He later became known as the "Pirate Hunter Zoro" after he left
          his town behind because he took on bounties to pay for his living expenses. This is how he eventually met Luffy.</td>
        </tr>
        <tr>
          <th><pre>Nami
          </pre><img src="/static/images/nami.png"width="150" height="300"> </th>
          <td>Nami is the navigator of Luffy's pirate crew. Her lifelong dream is to discover the world and to draw a complete map of it.
          She has superior navigating skills, such as being able to predict a precise course of action for their ship in a few minutes
          or predicting changes in weather. She is also a skilled thief, as she usually steals valuables from other pirates.
          She fights by using a weapon called the "Clima-Tact", which resembles a staff that can control the weather of her surroundings. Her
            current bounty os 66 million berries.
          </td>
          <td>At a very young age, she was orphaned, and was cared for by Bell-mere and her adopter sister Nojiko. Nami
            developed a love for drawing maps at a young age. Bell-mere's
            only source of income came growing tangerines, which eventually was not enough to afford her family's basic necessities.
            One day, a fishman pirate Arlong took over their village and murdered Bell-mere. He offered Nami the chance to
            free her village from them if she worked for him as their cartographer and if she payed him 100 million berries.
            This is where she started to become a thief. Eventually, when Luffy came around, he defeated Arlong and his pirate
            crew and freed her village.
          </td>
        </tr>
        <tr>
          <th><pre>Vinsmoke Sanji
          </pre><img src="/static/images/sanji.png"width="150" height="350"> </th>
          <td>Sanji is the cook of the Straw Hat Pirates. His lifelong dream is to find the All Blue, where the four seas
          (East Blue, West Blue, North Blue and South Blue) meet, which is home to a variety of wildlife. He fights using a
          martial art style called "Black Leg Style", in which he only uses his legs to fight. He does so because he does not
          want to damage his hands as he needs them to cook. He has immense speed, up to the point that he has the ability
          to fly and swim at great speeds. His current bounty is 330 million berries.</td>
          <td>When he was young, he disowned his family and decided to live on his own. He got hired as a ship's cook for 9
          years, until a pirate named Zeff attacked his restaurant. Both Zeff's and Sanji's ships were caught in a storm and were destroyed.
          They both washed up ashore in the middle of nowhere, with Zeff saving Sanji from drowning. For days, they were starving
          as the island they were on had no resources. Eventually, a ship came nearby and they were saved. Zeff eventually opened
          a restaurant where Sanji worked as a cook. It was then that he made a pledge to never refuse to offer food to a starving
          person, no matter who they are.</td>
        </tr>
        <tr>
          <th><pre>Usopp
          </pre><img src="/static/images/usopp.png" width="150" height="300"></th>
          <td>Usopp is the sniper of the Straw Hat Pirates. His lifelong dream is to become a brave warrior of the sea to follow
          the footsteps of his father. He uses a slingshot for combat, but he also has great skills for cannons and artillery.
          He has extremely sharp eyesight and engineering expertise, as he is usually the one to repair the crew's ship. His current
          bounty is 200 million berries.</td>
          <td>During his childhood, Usopp made a pirate group called "Usopp Pirates", which was composed of four members. They
          were simply known to tell lies to the people of their hometown, Syrup Village. Usopp provided the Straw Hat pirates their
          first ship, called the Going Merry.</td>
        </tr>
        <tr>
          <th><pre>Chopper
          </pre><img src="/static/images/chopper.jpg" width="180" height="220"></th>
          <td>Chopper is the doctor of the Straw Hat Pirates. His lifelong dream is to become a doctor that is capable of curing
          all types of diseases. He is a reindeer that ate a devil fruit called Hito Hito no Mi, which grants him the ability
          to transform into a human hybrid. He invented his own drug called a "Rumble Ball", which allows him to take on different
          forms of his devil fruit's power for fighting capabilities. His current bounty is only 100 berries since he is
          mistaken as being the Straw Hat Pirate's pet.</td>
          <td>Chopper used to be a normal reindeer, but was rejected by his parents and other reindeer because he had an unusual
          blue nose. He eventually ate the devil fruit, but his new human and reindeer hybrid form terrified the villagers.
          However, he was rescued one day by the Doctor Hiriluk, who took him as his assistant. He taught Chopper everything
          he knew about medicine. Dr. Hiriluk eventually got sick and passed away, and Dr. Kureha, another doctor in the same village,
          took him in and continued teaching him medicine.</td>
        </tr>
        <tr>
          <th><pre>Nico Robin
          </pre><img src="/static/images/robin.png"width="150" height="300"></th>
          <td>Robin is the archaeologist of the Straw Hat Pirates. Her lifelong dream is to find the Rio Poneglyph, which describes
          the true history of the world. She is the only person in the world who is able to read and decipher Poneglyphs, which is
          why she is a huge threat to the World Government. She ate the Hana Hana no Mi devil fruit, which allows her to bloom arms or
          legs anywhere she wants to. Her current bounty is 130 million berries.</td>
          <td>Robin's mother left her to pursue her dream when she was very young. She was raised by her older brother, Oran, but
          was abused. She didn't have any friends and the villagers feared her due to her devil fruit power. She eventually
          made some friends at the Tree of Knowledge, where she learned about archaeology and how to read Poneglyphs. One day,
          CP9, a division of the Marines, intervened in her village to destroy everything concerning the Poneglyphs. They eventually burned
          the Tree of Knowledge and killed all the scholars, but Robin managed to escape.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Franky
          </pre><img src="/static/images/franky.png" width="200" height="200"></th>
          <td>Franky is the shipwright of the Straw Hat Pirates. His lifelong dream is to create and ride a ship that is capable
          of navigating the whole world. He has a special body type since he performed surgery on himself twice by implementing
          mechanical parts with his body. This allowed him to have incredible strength and explains why he is often referred
          to as "Cyborg Franky". His current bounty is 94 million berries.</td>
          <td>When Franky was young, his parents, who were pirates, abandoned him. He was rescued by a shipwright named Tom and he served as
          Franky's mentor figure. When Franky was 12 years old, Tom was put on trial due to helping the pirate king Gol D. Roger
          with building his ship. Tom made a deal that he was going to build a sea train that could sail the ocean and he would
          be forgiven. After many years of building the sea train, Tom was to be pardoned, but a member from the World Government framed
          him for a crime he didn't commit and was sentenced to death. Franky tried everything to let him go and even tried to
          block the train as Tom was leaving for his sentence. This resulted in Franky being run down by the train and on the verge
          of death. He managed to fix himself with spare parts from an abandoned ship, hence the name "Cyborg" Franky.</td>
        </tr>
        <tr>
          <th><pre>Brook
          </pre><img src="/static/images/brook.png"width="150" height="300"></th>
          <td>Brook is the musician of the Straw Hat Pirates. His lifelong dream is to reunite with an old friend, Laboon, whom
          Luffy has previously met. He was a human who ate the Yomi Yomi no Mi devil fruit, which allowed him to come back
          from the dead. This is why he is now a skeleton, because his corpse decomposed before he was brought back to life.
          His unique body allows him to have a light weight, which in turn allows him to jump high and run on water. He uses instruments
          as well as a sword to fight. His current bounty is 83 million berries.</td>
          <td>Before Brook died, he was part of the Rumbar Pirates. It was then that he had met Laboon, a baby whale who got lost
          and was following their ship. His pirate crew grew fond of Laboon but had to leave him behind to continue their journey. However,
          Brook promised him that he would return. As they continued their journey, they got attacked by some enemy pirates,
          who tainted their weapons with poison. Before Brook and his whole crew died, he suggested to record a final song to play
          to Laboon with his crew members as he knew that he would be revived.</td>
        </tr>
      </tbody>
    </table>

  </div>



{% endblock %}
