{% extends "base.html" %}

{% block title %}More Characters{% endblock %}

{% block content %}
  <div class="col-sm-12">
  <h2>More Characters</h2>
  <p>In this page, other characters that play an important role in the plot will be described, namely some of Luffy's enemies
  as well as some of his allies.</p>



  <h5>Allies</h5>
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th >Name</th>
          <th scope="col">Characteristics</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><pre>Gol D. Roger
          </pre><img src="/static/images/roger.png" width="190" height="300"></th>
          <td>Gol D. Roger was the former Pirate King and was the owner of the legendary treasure called the One Piece. He
          obtained this title by conquering the Grand Line. After receiving his title, he was diagnosed with an incurable
          disease, which is why he let go of his crew and turned himself in to be executed. The Marines made a public execution
          and his last words encouraged everyone to find the One Piece and that the one who finds it will become the new Pirate
          King. Due to his last words, the Golden Age of Pirates began.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Portgas D. Ace
          </pre><img src="/static/images/ace.png"width="180" height="270"> </th>
          <td>Ace was Luffy's and Sabo's adopted brother, and biological son of Gol D. Roger. He was the second division commander
          of the Whitebeard Pirates and was a big target of the World Government. He ate the Mera Mera no Mi devil fruit, which
          granted him powers to control fire. He was eventually captured by the World Government and sentenced to death in a public
          execution. Luffy, however, was able to free him but as they were escaping, Ace sacrificed himself to save him.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Sabo
          </pre><img src="/static/images/sabo.png"width="180" height="270"> </th>
          <td>Sabo is Luffy's and Ace's adopted brother and is of noble descent. He ran away from his parents and decided to
          set sail. His ship, however, was destroyed by a Celestial Dragon, but he was saved by Monkey D. Dragon, captain of the
          Revolutionary Army and biological father of Luffy. He is now the Revolutionary Army's chief of staff, and after Ace's death,
          he inherited Ace's fire ability by eating the Mera Mera no Mi devil fruit.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Shanks
          </pre><img src="/static/images/shanks.jpg" width="180" height="270"></th>
          <td>Shanks is the captain of the Red Hair Pirates and one of the Emperors of the Sea. He used to be part of Gol D.
          Roger's pirate crew, which is how he got his straw hat. Shanks inspired Luffy to become a pirate and it is because of him
          that Luffy now has his devil fruit powers since he accidentally left it for Luffy to eat. He lost his left arm as
          a result of saving Luffy from a Sea Monster.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Trafalgar D. Water Law
          </pre><img src="/static/images/law.jpg" width="180" height="270"></th>
          <td>Trafalgar Law is known as the Surgeon of Death and is the captain and doctor of the Heart Pirates. He has a
          special ability from the Ope Ope no Mi devil fruit, which allows him to create a dome in which he is capable of separating
          and moving anything within the dome. This skill is particularly useful for surgeries as he can remove organs without
          the risk of damaging the body. His pirate crew made an alliance with the Straw Hat Pirates in order to bring down
          Doflamingo, one of their enemies.</td>
        </tr>
      </tbody>
    </table>

    <hr>

  <h5>Antagonists</h5>
  <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th >Name</th>
          <th scope="col">Characteristics</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><pre>Blackbeard (Marshall D. Teach)
          </pre><img src="/static/images/blackbeard.png" width="200" height="250"></th>
          <td>Blackbeard is the admiral of the Blackbeard Pirates. He used to be part of the Whitebeard Pirates, until he murdered one of the
          members and stole the Yami Yami no Mi devil fruit, which allows him to control darkness. He defeated Ace and handed
          him over to the Marines for his execution, and now holds the title of an Emperor of the Sea. He is the only person
          who wields two devil fruit powers, with the second power coming from Whitebeard's corpse through unknown means. His
          second power is the Gura Gura no Mi, which allows him to control gravity and earthquakes.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Doflamingo
          </pre><img src="/static/images/doflamingo.jpg" width="180" height="300"> </th>
          <td>Doflamingo was the former captain of the Donquixote Pirates and was a former Warlord of the Sea. He was the most
          famous leaders in the black market. He used to be the king of Dressrosa after stealing the throne from the King
          Riku. He has special abilities from eating the Ito Ito no Mi devil fruit, which allows him to create and manipulate
          thin and almost invisible strings. This allows him to control people like puppets and even move in the air. He was
          defeated by Luffy and Law's pirate crews, and he was sent in jail.</td>
        </tr>
        <tr>
          <th scope="row"><pre>Big Mom (Charlotte Linlin)
          </pre><img src="/static/images/bigmom.png"width="200" height="270"> </th>
          <td>Big Mom is the captain of the Big Mom Pirates and is one of the Emperors of the Sea. She rules the Whole Cake
          Island, where everything is made of sweets. She is incredibly powerful, as she obtained the powers of the Soru Soru
          no Mi devil fruit, which allows her to extract the souls of whoever she touches and adding their lifespan to herself
          or anything else, including inanimate objects.</td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}

