{% extends "base.html" %}

{% block title %}User Information{% endblock %}


{% block content %}
  <h1>Contact Other Users</h1>
  <p>In this page, you can verify the contact information of other users who registered in order to keep in touch with them.</p>

  <div class="content-section">
  <h3>List</h3>
  {% for user in users %}
    <ul class="list-group ui-state-hover">
      <li class="list-group-item">Username: {{ user.username }}</li>
      <li class="list-group-item">Email: {{ user.email }}</li>
      <hr>
    </ul>
  {% endfor %}

  <h3>Table</h3>

    <table class=" table table-striped table-hover">
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
     {% for user in users %}
       <tr>
        <td>{{ user.username }}</td>
       <td>{{ user.email }}</td>
       </tr>
     {% endfor %}

    </table>

  </div>




{% endblock %}
